name: تحلیلگر هوش مصنوعی آلفا

on:
  pull_request:
    branches:
      - main

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - name: دریافت کدها
        uses: actions/checkout@v3

      - name: نصب پایتون
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: اجرای تحلیلگر هوش مصنوعی
        run: python3 alpha-ai/main.py alpha-ai/sample.py
