name: ساخت برنامه دسکتاپ

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: دریافت کدها
        uses: actions/checkout@v3

      - name: نصب پایتون
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: نصب وابستگی‌ها
        run: |
          python -m pip install --upgrade pip
          pip install pyinstaller

      - name: ساخت فایل اجرایی
        run: pyinstaller --onefile --windowed apps/desktop/app.py

      - name: آپلود آرتیفکت
        uses: actions/upload-artifact@v3
        with:
          name: alpha-desktop-app-${{ matrix.os }}
          path: dist/
